<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanha.coronamap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ACTIVITY_NEWS.NewsBottomFragActivity"
            android:label="@string/title_activity_news_bottom_frag"></activity>
        <activity android:name=".ACTIVITY_MAP.NewMapActivity" />
        <activity android:name=".ACTIVITY_HELP.ChangeNickNameActivity" />
        <activity android:name=".ACTIVITY_NEWS.NewsActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2294544540507821~1853517193" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".ACTIVITY_LOGIN.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ACTIVITY_CHAT.FeedBackActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ACTIVITY_CHAT.ChatActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ACTIVITY_HELP.HelpActivity">
            <intent-filter>
                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ACTIVITY_MAP.MapActivity" />
        <activity
            android:name=".ACTIVITY_NEWS.NewsRoomActivity"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>